.SwitchButtonHatMinion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.wrapper{
width: 120px;
height: 60px;
background: radial-gradient(#74b9ff,#0984e3);
border-radius: 50px;
}

.switch{
position: relative;
width: 120px;
height: 60px;
margin: 0px;
appearance: none;
-webkit-appearance: none;
background-image:url('../../assets/sad.png');
background-size: cover;
background-repeat: no-repeat;
border-radius: 50px;
box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
transition: background-image .7s ease-in-out;
outline: none;
cursor: pointer;
overflow: hidden;
}

.switch:checked{
background-image: url('../../assets/happy.png');
background-size: cover;
transition: background-image 1s ease-in-out;
}

.switch:after{
content: '';
width: 60px;
height: 60px;
border-radius: 50%;
background: radial-gradient(#74b9ff,#0984e3);
opacity: 0.8;
position: absolute;
left: 0px;
top: 0px;
transform: translateX(0px);
animation: off .7s forwards cubic-bezier(.8, .5, .6, .5);
box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off{
0%{
    transform: translateX(60px);
    width: 60px;
}
50%{
    width: 30px;  
    border-radius: 50%;
}
100%{
    transform: translateX(0px); 
    width: 60px;
}
}

.switch:checked:after{
    animation: on .7s forwards cubic-bezier(.8, .5, .6, .5);
}

@keyframes on{
0%{
    transform: translateX(0px);
    width: 60px;
}
50%{
    width: 30px;  
    border-radius: 50%;   
}
100%{
    transform: translateX(60px); 
    width: 60px;
}
}
.switch:checked:before{
content: '';
width: 30px;
height: 30px;
transform-origin: 60px 0px;
}