#input-minion {
   // width: 100vw;
   padding: 0 1rem 0 2rem;
   margin: 1rem 0 0 0;

}

form {
   display: flex;
   align-content: center;
   justify-content: space-evenly;
}

.phrase {
   position: relative;
   width: 90%;
   vertical-align: top;
   text-align: center;
}